<%= todo_partials 'modal' %>


<h1><%= translate_model(Todo) %></h1>

<table class="table table-relative">
  <thead>
    <tr>
      <th><%= todo_partials('sortable', locals: { header: :title }) %></th>
      <th><%= todo_partials('sortable', locals: { header: :description }) %></th>
      <th><%= todo_partials('sortable', locals: { header: :status }) %></th>
      <th colspan="3">Ações</th>
    </tr>
    <tr>
      <% ['title','description','status'].each do |column| %>
        <td>
          <%= todo_partials 'search', locals: { field: column } %>
        </td>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="todos">
    <% if @todos.any? %>
      <%= todo_partials 'todo', collection: @todos %>
    <% else %>
      <%= todo_partials 'empty_rows' %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" id="todos-total">
        Total de registros: <%= @todos.count %>
      </td>
    </tr>
  </tfoot>
</table>

<%= link_new(new_todo_path) %>

<script type="text/javascript">
  $('turbolinks:load').ready(function() {
    if("<%= notice %>" != "") {
      // App.Todo.index("<%= notice %>");
      App.Toast.add("<%= Todo.model_name.human %>","<%= notice %>");
    }
  });
</script>
