<!DOCTYPE html>
<html>
  <head>
    <title>TodoAjaxRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head>

  <body>
    <!-- Toast Container -->
    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div class="toast-container top-0 end-0 p-3"></div>
    </div>

    <!-- Alert Container -->
    <div class="container mt-3" id="alert-container"></div>

    <!-- Main Content -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
